<div class="card bg-light shadow-sm me-3 rounded border">
  <div class="card-body">
    <p class="card-text">
      When you're ready, click the Add To Kroger button to add all items for these recipes to your Kroger cart.
    </p>
    <button type="button" class="btn btn-primary mb-3 shadow-sm text-white" onclick="addAllItems('@ViewData["RecipeId"]')">Add to Kroger</button>
    <br />
    <small>Please note that once an item is added to your Kroger shopping cart, we do not have the ability to remove them from your Kroger cart.</small>
  </div>
</div>
