<div class="card border me-3 shadow-sm p-3">
  <div class="rounded wrapperForOverlay mb-2 shadow">
    <img class="rounded w-100 headerImgForOverlay" src="https://eatlittlebird.com/wp-content/uploads/2012/09/classic-meat-pies-2.jpg" alt="Photo of Australian Meat Pie">
    <div class="centeredOverlayText">
      <h1 class="fw-normal fs-1 text-white">Australian Meat Pie</h1>
    </div>
  </div>
  <div class="card-body px-3 py-2">
    15 Steps
    <hr class="mt-0">
    50 minutes to make
    <hr class="mt-0">
    <em class="fs-5">Ingredients already in Pantry</em>
    <br>
    <div class="d-flex my-2" data-bs-placement="right" title="You currently have this ingredient">
      <i class="fas fa-check me-3"></i>
      <span>
        2 Beef Bullion Cubes
      </span>
    </div>
    <div class="d-flex my-2" data-bs-placement="right" title="You currently have this ingredient">
      <i class="fas fa-check me-3"></i>
      <span>
        2 Beef Bullion Cubes
      </span>
    </div>
    <div class="d-flex my-2" data-bs-placement="right" title="You currently have this ingredient">
      <i class="fas fa-check me-3"></i>
      <span>
        2 Beef Bullion Cubes
      </span>
    </div>
  </div>
</div>
