@{
  ViewData["Title"] = "Home Page";
}
<div class="container py-5">
  <div class="mx-5 p-5 border rounded shadow-sm bg-white">
    @if (ViewBag.HomeView == "Login")
    {
      @await Html.PartialAsync("../Home/Forms/Login.cshtml")
    }
    else
    {
      @await Html.PartialAsync("../Home/Forms/Register.cshtml")
    }
  </div>
</div>
