@{
  ViewData["Title"] = "Home Page";
}
<div class="container py-5">
  <div class="mx-5 p-5 border rounded shadow-sm bg-white">
    @if (!User.Identity.IsAuthenticated)
    {

      @await Html.PartialAsync("../Home/Forms/Register.cshtml")

    }
    else
    {
      <div class="row">
        <div class="col-8">
          <p>
            <strong>Name</strong>
            <br>
            @ViewBag.FullName
          </p>
          <p>
            <strong>Email</strong>
            <br>
            @User.Identity.Name
          </p>
          @if (ViewBag.Phone == null)
          {
            @using (Html.BeginForm("AddPhoneNumber", "Account", FormMethod.Post))
            {
              <div class="row">
                <div class="col-sm-8 col-xs-12">
                  <p>
                    <strong>Phone</strong>
                    <br>

                    <input type="tel" placeholder="(Optional) provide phone number" name="phoneNumber" class="form-control">

                  </p>
                </div>
                <div class="col-4">
                  <br>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </div>
            }
          }
          else
          {
            <p>
              <strong>Phone</strong>
              <br>
              @ViewBag.Phone
            </p>
          }
        </div>
        <div class="col-4 text-end">
          <strong>Kroger Store</strong><br />
          @if (ViewBag.KrogerStoreId == null)
          {
            <button class="btn btn-primary shadow-sm" type="button">Find My Store</button>
          }
          else
          {
            @ViewBag.KrogerStoreId
          }
        </div>
      </div>
    }
  </div>
</div>
