@{
  ViewData["Title"] = "Home Page";
}
<div class="container py-5">
  <div class="mx-md-5 mx-sm-2 p-4 p-md-5  border rounded shadow-sm bg-white">
    @if (!User.Identity.IsAuthenticated)
    {

      @await Html.PartialAsync("../Home/Forms/Register.cshtml")

    }
    else
    {
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <p>
            <strong>Name</strong>
            <br>
            @ViewBag.FullName
          </p>
          <p>
            <strong>Email</strong>
            <br>
            @User.Identity.Name
          </p>
          @if (ViewBag.Phone == null)
          {
            @using (Html.BeginForm("AddPhoneNumber", "Account", FormMethod.Post))
            {
              <div class="row">
                <div class="col-sm-8 col-xs-12">
                  <p>
                    <strong>Phone</strong>
                    <br>

                    <input type="tel" placeholder="(Optional) provide phone number" name="phoneNumber" class="form-control">

                  </p>
                </div>
                <div class="col-4">
                  <br class="d-none d-sm-block ">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </div>
            }
          }
          else
          {
            <p>
              <strong>Phone</strong>
              <br>
              @ViewBag.Phone
            </p>
          }
        </div>
        <div class="col-md-4 col-sm-12 text-md-end text-sm-start">
          <br class="d-block d-sm-none">
          <strong>Kroger Store</strong><br />
          @if (ViewBag.KrogerStoreName == null)
          {
            @await Html.PartialAsync("./Views/KrogerStoreFinder.cshtml")
          }
          else
          {
            @ViewBag.KrogerStoreName
            @await Html.PartialAsync("./Views/KrogerStoreFinder.cshtml")
          }
        </div>
      </div>
    }
  </div>
</div>
