@model PantryPlusRecipe.Models.Recipe
<h3><em>Cook Times</em></h3>
<p>
  Prep Time: @Model.PrepMinutes minutes
  <br />
  Cook Time: @Model.CookMinutes minutes
  <br />
  Total Time: @{
    int total = Model.CookMinutes + Model.PrepMinutes;
    <span>@total</span>
  } minutes
</p>
