@model PantryPlusRecipe.Models.Recipe
<h3><em>Cook Times</em></h3>
<p>
  @if (Model.PrepMinutes > 0)
  {
    @:<span>Prep Time: @Model.PrepMinutes minutes</span>
    @:<br />
    @:Cook Time: @Model.CookMinutes minutes
    @:<br />
  }
  Total Time: @{
    int total = Model.CookMinutes + Model.PrepMinutes;
    <span>@total</span>
  } minutes
</p>
