<div class="box bg-white rounded inset-shadow-sm ms-3 my-3 mt-lg-3 pb-2">
  <div class="p-3 pb-0">
    <h3 class="fw-light">Ingredients</h3>
  </div>
  <div id="addedIngredients">
  </div>
  <ul class="list-group list-group-light px-3" id="ingredientsList">
    @* <li class="list-group-item py-2">1 TBSP of Tomato Paste</li>
      <li class="list-group-item py-2">1 TBSP of Tomato Paste</li>
      <li class="list-group-item py-2">1 TBSP of Tomato Paste</li> *@
  </ul>
  <div class="px-3 my-3">
    <div class="row">
      <div class="col">
        <div class="form-outline">
          <input type="number" name="ingredientCount" id="ingredientCount" class="form-control mb-3 shadow-sm" placeholder="ex 0.25">
          <label for="ingredientCount" class="form-label">Count</label>
          <div class="form-notch">
            <div class="form-notch-leading" style="width: 9px;"></div>
            <div class="form-notch-middle" style="width: 87.2px;"></div>
            <div class="form-notch-trailing"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <select class="form-select form-control shadow-sm" id="unitSelection" style="color:rgba(0,0,0,.6)!important" aria-label="Default select example">
          <option selected disabled value="default">Unit of Measurement</option>
          <option value="cup">Cup</option>
          <option value="tbsp">TBSP</option>
          <option value="tsp">TSP</option>
          <option value="lb">LB</option>
          <option value="oz">OZ</option>
        </select>
      </div>
    </div>
    <div class="form-outline">
      <input type="text" name="ingredientInput" id="ingredientInput" class="form-control mb-3 shadow-sm">
      <label for="ingredientInput" class="form-label">Ingredient</label>
      <div class="form-notch">
        <div class="form-notch-leading" style="width: 9px;"></div>
        <div class="form-notch-middle" style="width: 87.2px;"></div>
        <div class="form-notch-trailing"></div>
      </div>
    </div>
    <button type="button" disabled class="btn btn-primary" id="addIngredientBtn">Save Ingredient</button>
  </div>
</div>
<script>
  $('#ingredientInput').on('keyup', function () {
    if ($(this).val().length >= 1 && $("#ingredientCount").val().length >= 1) {
      $('#addIngredientBtn').prop("disabled", false);
    } else {
      $('#addIngredientBtn').prop("disabled", true);
    }
  });
  $(`#addIngredientBtn`).click(function () {
    count = $("#ingredientCount").val();
    unit = $(`#unitSelection`).val();
    if (unit === null) {
      unit = '';
    } else {
      unit += " of"
    }
    ingredient = $(`#ingredientInput`).val();
    $('#ingredientsList').append(`<li class="list-group-item py-2">${count} ${unit} ${ingredient}</li>`);
    $("#ingredientCount").val('');
    $(`#ingredientInput`).val('');
    $(`#unitSelection`).val('default');
    $('#addIngredientBtn').prop("disabled", true);
  });


</script>
