<div class="box bg-white border shadow-sm my-5 ms-3">
  <div class="ribbon-2 btn-primary text-white pt-2">
    <h3 class="fw-light">Ingredients</h3>
  </div>
  <ul class="list-group list-group-light px-3">
    <li class="list-group-item py-2">1 TBSP of Tomato Paste</li>
    <li class="list-group-item py-2">1 TBSP of Tomato Paste</li>
    <li class="list-group-item py-2">1 TBSP of Tomato Paste</li>
  </ul>
  <div class="px-3 my-3">
    <div class="row">
      <div class="col">
        <div class="form-outline">
          <input type="text" name="PrepMinutes" id="PrepMinutes" class="form-control mb-3 shadow-sm" placeholder="ex .25">
          <label for="PrepMinutes" class="form-label">Count</label>
          <div class="form-notch">
            <div class="form-notch-leading" style="width: 9px;"></div>
            <div class="form-notch-middle" style="width: 87.2px;"></div>
            <div class="form-notch-trailing"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <select class="form-select form-control shadow-sm" style="color:rgba(0,0,0,.6)!important" aria-label="Default select example">
          <option selected>Unit of Measurement</option>
          <option value="cup">Cup</option>
          <option value="tbsp">TBSP</option>
          <option value="tsp">TSP</option>
          <option value="tsp">OZ</option>
        </select>
      </div>
    </div>
    <div class="form-outline">
      <input type="text" name="CookMinutes" id="CookMinutes" class="form-control mb-3 shadow-sm">
      <label for="CookMinutes" class="form-label">Ingredient</label>
      <div class="form-notch">
        <div class="form-notch-leading" style="width: 9px;"></div>
        <div class="form-notch-middle" style="width: 87.2px;"></div>
        <div class="form-notch-trailing"></div>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Add Ingredient</button>
  </div>
</div>
