<div class="box bg-white border shadow-sm mb-5 mx-3 pb-3 mt-0 mt-md-5">
  <div class="ribbon-2 btn-primary text-white pt-2">
    <h3 class="fw-light">Instructions</h3>
  </div>
  <div class="form-outline mx-3">
    <input type="text" name="PrepMinutes" id="PrepMinutes" class="form-control mb-3 shadow-sm" placeholder="ex: Pie Crust">
    <label for="PrepMinutes" class="form-label">Section Name</label>
    <div class="form-notch">
      <div class="form-notch-leading" style="width: 9px;"></div>
      <div class="form-notch-middle" style="width: 87.2px;"></div>
      <div class="form-notch-trailing"></div>
    </div>
  </div>
  <ul class="list-group list-group-light px-3">
    <li class="list-group-item py-2">Add the Italian sausage to a deep skillet or pot and cook over medium heat, breaking it up into pieces as it cooks. Mince two cloves of garlic, add it to the
      browned sausage, and sauté for 1 minute more.
    </li>
    <li class="list-group-item py-2">Next, add the tomato paste, crushed tomatoes, Italian seasoning, and water. Stir to combine and dissolve the browned bits off the bottom of the skillet. Allow the sauce to come to a simmer. Once simmering, place a tilted lid on top (to allow steam to escape while blocking splatter) and turn the heat down to medium-low. Let the sauce simmer, stirring occasionally, while you cook the pasta.
    </li>
  </ul>
  <div class="px-3 my-3">
    <div class="form-outline">
      <textarea class="form-control" id="textAreaExample1" rows="4"></textarea>
      <label class="form-label" for="textAreaExample" style="margin-left: 0px;">Insert Step Details</label>
      <div class="form-notch">
        <div class="form-notch-leading" style="width: 9px;"></div>
        <div class="form-notch-middle" style="width: 60px;"></div>
        <div class="form-notch-trailing"></div>
      </div>
    </div>
    <button type="button" class="btn btn-primary mt-3">Add Step</button>
    <button type="button" class="btn btn-primary">Add Section</button>
  </div>
</div>
