<style>
  .ribbon-2 {
    --f: 10px;
    /* control the folded part*/
    --r: -1px;
    /* control the ribbon shape */
    --t: -1px;
    /* the top offset */
    width: calc(100% + 1px);
    position: inherit;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 0px var(--f) calc(10px + var(--r));
    clip-path:
      polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  }

  .box {
    /*margin:50pxauto0;*/
    position: relative;
  }
</style>


<div class="box bg-white border shadow-sm m-5">
  <div class="ribbon-2 btn-primary text-white pt-2">
    <h3 class="fw-light">Ingredients</h3>
  </div>
  <ul class="list-group list-group-light px-3">
    <li class="list-group-item py-2">1 TBSP of Tomato Paste</li>
    <li class="list-group-item py-2">1 TBSP of Tomato Paste</li>
    <li class="list-group-item py-2">1 TBSP of Tomato Paste</li>
  </ul>
  <div class="px-3 my-3">
    <div class="row">
      <div class="col">
        <div class="form-outline">
          <input type="text" name="PrepMinutes" id="PrepMinutes" class="form-control mb-3 shadow-sm" placeholder="ex .25">
          <label for="PrepMinutes" class="form-label">Count</label>
          <div class="form-notch">
            <div class="form-notch-leading" style="width: 9px;"></div>
            <div class="form-notch-middle" style="width: 87.2px;"></div>
            <div class="form-notch-trailing"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <select class="form-select form-control shadow-sm" style="color:rgba(0,0,0,.6)!important" aria-label="Default select example">
          <option selected>Unit of Measurement</option>
          <option value="cup">Cup</option>
          <option value="tbsp">TBSP</option>
          <option value="tsp">TSP</option>
          <option value="tsp">OZ</option>
        </select>
      </div>
    </div>
    <div class="form-outline">
      <input type="text" name="CookMinutes" id="CookMinutes" class="form-control mb-3 shadow-sm">
      <label for="CookMinutes" class="form-label">Ingredient</label>
      <div class="form-notch">
        <div class="form-notch-leading" style="width: 9px;"></div>
        <div class="form-notch-middle" style="width: 87.2px;"></div>
        <div class="form-notch-trailing"></div>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Add Ingredient</button>
  </div>
</div>
