<div class="pt-3">
  @if (Model.PrepMinutes == null || Model.PrepMinutes == 0)
  {
    <h3><em>No Cook Times Listed</em></h3>
  }
  else
  {
    @await Html.PartialAsync("./IngredAndNotes/PrepTimes.cshtml")
  }
</div>
<div class="pt-3">
  @await Html.PartialAsync("./IngredAndNotes/Ingredients.cshtml")
</div>
<div class="pt-3">
  @await Html.PartialAsync("./IngredAndNotes/Notes.cshtml")
</div>


<script>
  const retrieveResults = (event, id, name) => {
    event.preventDefault();
    $(`#pagination-${id}`).addClass('d-none');
    $(`#searchIngredientResults-${id}`).html(`<div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>`);
    let page = parseInt(event.target.innerText);
    callAjax(id, name, page);
  }

  function callAjax(ingredientId, searchTerm, page) {
    if (!page) {
      page = 1;
    }
    $.ajax(
      {
        type: 'GET',
        dataType: 'JSON',
        url: '/Recipes/GetProductListings',
        data: { searchTerm: `${searchTerm}`, page: `${page}` },
        success:
          function (response) {
            let jsonOut = JSON.parse(response);
            printResults(searchTerm, ingredientId, jsonOut.data.sort(function (a, b) {
              return a.productId - b.productId;
            }));
            $(`#searchIngredientButton-${ingredientId}`).hide();
            $(`#pagination-${ingredientId}`).removeClass('d-none');
            generatePagination(ingredientId, jsonOut.meta.pagination.total, page, searchTerm);
          },
        error:
          function (response) {
            console.log("Error: ", response);
            $(`#searchIngredientButton-${ingredientId}`).show();
            $(`#pagination-${ingredientId}`).addClass('d-none');
          }
      });
  }
  const generatePagination = (id, total, page = 1, searchTerm) => {
    $(`#paginationUL-${id}`).html('');

    console.log("here :", id, total, page, searchTerm);
    outputHtml = `<li class="page-item">
              <a class="page-link" href="#" onclick='retrieveResults(event, ${id}, "${searchTerm}")' aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>`;
    let pageStart = page;
    if (pageStart <= 3) {
      pageStart = 1;
    } else {
      pageStart = page - 2;
    }
    console.log('pageStart: ', pageStart)
    for (let x = 1; x <= 5 && x < Math.ceil(total / 6); x++) {
      console.log(x);

      outputHtml += `<li class="page-item ${(pageStart === page) ? "active" : ""}">
              <a class="page-link" href="#" onclick='retrieveResults(event, ${id}, "${searchTerm}")'>${pageStart}</span></a>
            </li>`;
      pageStart++;
    }
    outputHtml += `
            <li class="page-item">
              <a class="page-link" href="#" onclick='retrieveResults(event, ${id}, "${searchTerm}")' aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>`;

    $(`#paginationUL-${id}`).html(outputHtml);
    $(`#pagination-${id}`).removeClass('d-none');
  }

  function printResults(searchTerm, ingredientId, jsonResult) {
    console.log("left side: ", jsonResult);
    let htmlString = `<div class="row">`;
    jsonResult.forEach((item) => {
      htmlString += `
                <div class="col-md-6">
                  <div class="border rounded p-3 pt-1 m-3 shadow bg-white">
                    <div class="row">
                      <div class="col-md-4 ps-0" style="max-height:9em;overflow:hidden;">`;
      let imgUrl;
      item.images.forEach((imgCategory) => {
        if (imgCategory.featured) {
          imgCategory.sizes.forEach((image) => {
            if (image.size === 'medium') {
              imgUrl = image.url;
            }
          });
        }
      });
      htmlString += `<img src="${imgUrl}" alt="Photo of ${item.description}" class="rounded" style="max-height: 100%; width: auto !important;" id='${item.upc}-imgUrl'>
                      </div>
                      <div class="col-md-8">
                        <div class="text-end">
                          <i class="fas fa-map-marker-alt mb-2"></i>`;
      let aisle = '';
      item.aisleLocations.forEach((aisleLoc) => {
        if (aisleLoc.description.toLowerCase().includes("aisle")) {
          aisle = aisleLoc.description.toLowerCase();
        }
      });
      if (aisle === '' && item.aisleLocations.length > 0) {
        aisle = (item.aisleLocations[0].description) ? item.aisleLocations[0].description : "";
      }
      htmlString += `&nbsp;<span id='${item.upc}-aisle'>${aisle.toLowerCase()}</span><div>
                        <span id='${item.upc}-name'>${item.description}</span>
                        <p class="text-primary fs-5 fw-light mb-0 mt-3">`;
      let itemPrice;
      if (item.items[0].price && item.items[0].price.promo === 0) {
        itemPrice = `$<span id='${item.upc}-price'>${item.items[0].price.regular.toFixed(2)}</span>`;
      } else if (item.items[0].price && item.items[0].price.promo > 0) {
        itemPrice = `<strike class="me-2">$${item.items[0].price.regular.toFixed(2)}</strike> <span style="background-color: #fed241;" class="text-dark">$<span id='${item.upc}-price'>${item.items[0].price.promo.toFixed(2)}</span></span>`;
      } else {
        itemPrice = '$-.--';
      }

      htmlString += `${itemPrice} <span class="text-dark fs-6">/ <span id='${item.upc}-size'>${item.items[0].size}</span></span></p>
                <div class="d-flex align-items-end justify-content-end">
                  <div id="${item.upc}-checkmarkAdded" class="me-3" style="display:none;">
<i class="fas fa-check"></i>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm" id="${item.upc}-addToCartButton" onClick="handleAddToCartClick('${searchTerm}','${item.upc}', '${ingredientId}' )">
                    Add to Cart
                  </button></div>
                  <input type="hidden" id="${item.upc}-krogerCategory" value="${item.categories[0]}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                `;
    });

    $(`#searchIngredientResults-${ingredientId}`).html(`</div>${htmlString}`);

  }

  function handleAddToCartClick(searchTerm, upc, ingredientId) {
    $(`#${upc}-checkmarkAdded`).stop();
    $(`#${upc}-checkmarkAdded`).hide(50);
    let jsonOutput = {};
    let aisle = $(`#${upc}-aisle`).text();
    if (aisle.includes("aisle")) {
      let splitAisle = aisle.split(" ");
      aisle = splitAisle[1];
    }
    jsonOutput.KrogerUPC = upc;
    jsonOutput.KrogerAisle = aisle;
    jsonOutput.SearchTermWhenAdded = searchTerm;
    jsonOutput.KrogerCost = $(`#${upc}-price`).text();
    jsonOutput.KrogerItemName = $(`#${upc}-name`).text();
    jsonOutput.KrogerItemSize = $(`#${upc}-size`).text();
    jsonOutput.KrogerCategory = $(`#${upc}-krogerCategory`).val();
    jsonOutput.RecipeId = @Model.RecipeId;
    jsonOutput.KrogerImgLink = $(`#${upc}-imgUrl`).attr('src');

    $.ajax(
      {
        type: 'POST',
        dataType: 'JSON',
        url: '/Cart/SaveToCart',
        data: { jsonPost: JSON.stringify(jsonOutput) },
        success:
          function (response) {
            $(`#ingredient-${ingredientId}`).removeClass('text-primary');
            $(`#ingredient-${ingredientId}`).addClass('text-success');
            $(`#${upc}-checkmarkAdded`).show(300).fadeOut(700);
          },
        error:
          function (response) {
            console.log("Error: ", response);
          }
      });

  }
</script>
