@{
  ViewData["Title"] = "Home Page";
}
<div class="container py-5">
  <div class="mx-lg-5 mx-md-2 p-5 border rounded shadow-sm bg-white">
    @if (!User.Identity.IsAuthenticated)
    {
      @if (ViewBag.HomeView == "Login")
      {
        @await Html.PartialAsync("Forms/Login.cshtml")
      }
      else
      {
        @await Html.PartialAsync("Forms/Register.cshtml")
      }
    }
    else
    {
      @await Html.PartialAsync("Views/Home.cshtml")
    }
  </div>
</div>
