<button class="btn btn-primary shadow-sm">Back</button>
<button class="btn btn-primary shadow-sm">Edit</button>

<div class="pt-3">
  @await Html.PartialAsync("./IngredAndNotes/PrepTimes.cshtml")
</div>
<div class="pt-3">
  @await Html.PartialAsync("./IngredAndNotes/Ingredients.cshtml")
</div>
<div class="pt-3">
  @await Html.PartialAsync("./IngredAndNotes/Notes.cshtml")
</div>
