<div class="card shadow-sm mb-4">
  <img class="card-img-top rounded" style="height: 10em; filter: brightness(55%); object-fit: cover;" src="https://eatlittlebird.com/wp-content/uploads/2012/09/classic-meat-pies-2.jpg" alt="picture of place">
  <div class="card-img-overlay mt-2 p-5 text-white">
    <h1 class="fw-normal text-center mt-2 mb-0 fs-1">@Model.Name</h1>
  </div>
</div>
<h3><em>Instructions</em></h3>
<h4 class="mt-3">Prep</h4>
1. Pre-heat oven at 220 degrees Celsius.
<br />
2. Chop the onion
<hr />
<h4>Cook the Meat</h4>
1. Brown meat and onion.
<br />
2. Add 3/4 cup of the water, bouillon cubes, ketchup and Worcestershire sauce, pepper, oregano, and nutmeg.
<br />
3. Boil and cover for 15 minutes.
<br />
4. Blend flour with the remaining 1/4 cup water until it becomes a smooth paste; add to the meat mix.
<hr />
<h4>Pie Crust</h4>
1. Grease a pie dish and line with puff pastry.
<br />
2. Add the cooled filling mixture; brush edges of pastry with milk or beaten egg; put the pastry top on; press edges down with a fork.
<br />
3. Trim edges and glaze top with milk or beaten egg.
<br />
4. Bake in a very hot oven, 220 degrees Celsius for 15 minutes.
<br />
5. Reduce heat to 180 degrees Celsius and bake for 25 more minutes, or until golden brown.
<br />
6. Serve with veggies, fries, or salad.
