<div id="tastySection">
  <div class="p-5 px-2 px-md-5  pt-0 mx-1 mx-md-5 rounded inset-shadow-sm border bg-white my-3">
    <h1 class="text-start fw-light pt-3 ps-3">Search Tasty</h1>
    <p class="text-start ps-3">Search Tasty.com to expand your recipe ideas, and even save a new favorite or two.</p>
    <div id="ingredientsToSearch" class="ms-3 mb-3">
    </div>
    <form onSubmit="buildSearch()" class="ps-3">
      <div class="row">
        <div class="col-lg-3 col-9">
          <div class="form-outline">
            <input type="text" name="ingredient" id="ingredient" class="form-control shadow-sm" placeholder="ex: Tomato">
            <label for="ingredient" class="form-label">Type an ingredient</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 87.2px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-3 d-flex align-items-center">
          <button type="button" class="btn btn-sm btn-primary btn-floating" disabled onClick="buildSearch()" id="plusIngredientButton"><i class="fas fa-plus"></i></button>
        </div>
      </div>
      <input type="hidden" id="ingredientListHidden">
      <button type="button" id="searchTastyButton" disabled class="btn btn-primary mt-3" onClick="getTasty()">Search</button>
    </form>
  </div>
</div>
