<div class="card shadow-sm mb-4 ">
  <img class="card-img-top rounded" style="height: 10em; filter: brightness(55%); object-fit: cover;" src="@Model.ImgUrl" alt="picture of place">
  <div class="card-img-overlay mt-2 p-5 text-white">
    <h1 class="fw-normal text-center mt-2 mb-0 fs-1">@Model.Name</h1>
  </div>
</div>
