@{
  ViewData["Title"] = "Pantry";
}
<div class="container py-5">
  <div class="mx-5 p-5 border rounded inset-shadow-sm bg-white">
    <div class="row justify-content-evenly">
      <div class="col-6">
        <div class="py-4 px-2 bg-white border mb-3 d-flex rounded shadow  justify-content-center">
          <div class="form-outline">
            <input class="form-control" id="exampleDataList" placeholder="Type to search..." type="text">
            <label for="exampleDataList" class="form-label">Add an ingredient</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 87.2px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <button class="btn btn-sm btn-primary shadow-sm border mx-1" data-mdb-toggle="modal" data-mdb-target="#ingredientModal" id="openKrogerSearch"><i class="fas fa-search"></i></button>
          @await Html.PartialAsync("./PantryModal.cshtml")
        </div>
      </div>
    </div>
    @await Html.PartialAsync("./Item.cshtml")
  </div>
</div>
<script src="~/js/pantry.js" asp-append-version="true"></script>
