<form action="/Recipes/Create" method="post" id="submitForm">
  <button type="submit" class="btn btn-primary my-2 mx-1 mx-md-5">Save</button>
  <div class="mx-1 mx-md-4 pe-3 pe-lg-1">
    @await Html.PartialAsync("./Create/RecipeForm.cshtml")
  </div>
</form>


<script>
  function createJson() {

    let postJson = {};
    postJson.sections = [];
    postJson.prepTime = $('#PrepMinutes').val();
    postJson.cookTime = $('#CookMinutes').val();
    postJson.cost = $('#recipeCost').val();
    postJson.notes = $('#notes').val();
    postJson.categoryName = $('#categorySelection').val();
    postJson.recipeName = $('#recipeName').val();
    postJson.imgUrl = $('#recipeImgUrl').val();
    //first sections
    let sections = [];
    $('#hiddenParams').children().each(function () {
      if ($(this).prop('name').includes('SectionName')) {
        sections.push($(this).prop('defaultValue'));
      }
    });

    for (let x = 0; x < sections.length; x++) {
      let steps = [];
      $('#hiddenParams').children().each(function () {
        if ($(this).prop('name').includes('Step[' + x + ',')) {
          steps.push($(this).prop('defaultValue'));
        }
      });
      let tempArray = [];
      tempArray.push(sections[x]);
      tempArray.push(steps);
      postJson.sections.push(tempArray);
    }

    //now ingredients

    let ingredients = [];
    $('#ingredientsList').children('li').each(function () {
      @* ingredients.push($(this).prop('innerText')); *@
        let ingredArray = [];
      ingredArray.push($(this).children('.ingredLICount').prop('innerText'));
      ingredArray.push($(this).children('.ingredLIUnit').prop('innerText'));
      ingredArray.push($(this).children('.ingredLIIngredient').prop('innerText'));
      ingredients.push(ingredArray);
    });
    postJson.ingredients = ingredients;
    console.log(postJson);
    return JSON.stringify(postJson);
  }

  function submitAjax(jsonString) {
    $.ajax(
      {
        type: 'POST',
        dataType: 'JSON',
        url: '/Recipes/Create',
        data: { jsonPost: jsonString },
        success:
          function (response) {
            // Generate HTML table.
            alert("success");
          },
        error:
          function (response) {
            console.log("Error: ", response);
          }
      });
  }

  $(`#submitForm`).submit(function (event) {
    event.preventDefault();
    submitAjax(createJson());
    createJson();
  });

</script>
