<form><a href="recipes/create" class="btn btn-primary my-2 mx-1 mx-md-5">Save</a>
  <div class="bg-white mx-1 mx-md-5 pe-3 pe-lg-1 rounded inset-shadow-sm border">
    @await Html.PartialAsync("./Create/RecipeForm.cshtml")
  </div>
</form>
