@using Microsoft.AspNetCore.Mvc.ViewFeatures


<a href="recipes/create" class="btn btn-primary my-2 mx-1 mx-md-5">Add Recipe</a>

@await Html.PartialAsync("./Home/CategorySelect.cshtml")


@await Html.PartialAsync("./Home/RecipeSection.cshtml",
new ViewDataDictionary(ViewData) {
{ "type", "fast" },
{ "url", "recipe" },
{ "recipeList", ViewBag.FastRecipes }
})


@await Html.PartialAsync("./Home/RecipeSection.cshtml",
new ViewDataDictionary(ViewData) {
{ "type", "budget" },
{ "url", "recipe" },
{ "recipeList", ViewBag.BudgetRecipes }
})


@await Html.PartialAsync("./Home/RecipeSection.cshtml",
new ViewDataDictionary(ViewData) {
{ "type", "tasty" },
{ "url", "tasty" },
{ "recipeList", ViewBag.Tasty }
})
