@using Microsoft.AspNetCore.Mvc.ViewFeatures


<a href="recipes/create" class="btn btn-primary my-2 mx-1 mx-md-5">Add Recipe</a>

@* @await Html.PartialAsync("./Home/CategorySelect.cshtml") *@

@if (ViewBag.CardRecipeList.Count > 0)
{
  @await Html.PartialAsync("./Home/_RecipeSection.cshtml",
new ViewDataDictionary(ViewData) {
{ "type", "cart" },
{ "url", "recipe" },
{ "recipeList", ViewBag.CardRecipeList }
})
}

@if (ViewBag.FavoriteRecipeList.Count > 0)
{
  @await Html.PartialAsync("./Home/_RecipeSection.cshtml",
new ViewDataDictionary(ViewData) {
{ "type", "favorites" },
{ "url", "recipe" },
{ "recipeList", ViewBag.FavoriteRecipeList }
})
}

@if (ViewBag.FastRecipes.Count > 0)
{
  @await Html.PartialAsync("./Home/_RecipeSection.cshtml",
new ViewDataDictionary(ViewData) {
{ "type", "under 20 minutes" },
{ "url", "recipe" },
{ "recipeList", ViewBag.FastRecipes }
})
}

@if (ViewBag.BudgetRecipes.Count > 0)
{
  @await Html.PartialAsync("./Home/_RecipeSection.cshtml",
new ViewDataDictionary(ViewData) {
{ "type", "less than $10" },
{ "url", "recipe" },
{ "recipeList", ViewBag.BudgetRecipes }
})
}

@if (ViewBag.AllRecipes.Count > 0)
{
  @await Html.PartialAsync("./Home/_RecipeSection.cshtml",
new ViewDataDictionary(ViewData) {
{ "type", "all" },
{ "url", "recipe" },
{ "recipeList", ViewBag.AllRecipes }
})
}

@await Html.PartialAsync("./Home/_TastySection.cshtml")

<script>
  $('#ingredient').on('keyup', function () {
    if ($(this).val().length >= 3) {
      $('#plusIngredientButton').prop("disabled", false);
    } else {
      $('#plusIngredientButton').prop("disabled", true);
    }
  });


  function buildSearch() {
    event.preventDefault();
    let ingredient = $("#ingredient").val();
    console.log(ingredient);
    if (ingredient.length > 0) {
      let value = `<span class="btn btn-success border shadow-sm me-3">${ingredient}</span>`;
      $("#ingredientListHidden").val($("#ingredientListHidden").val() + ", " + $("#ingredient").val());
      $("#ingredientsToSearch").html($("#ingredientsToSearch").html() + value);
      $("#ingredient").val("");
      $("#searchTastyButton").prop("disabled", false);
    }
  }
  function getTasty() {
    event.preventDefault();
    let searchString = $("#ingredientListHidden").val().substring(2);
    $.ajax({
      url: "/Recipes/FindTastyByIngredient",
      type: "GET",
      data: { ingredient: `${searchString}` }
    })
      .done(function (partialViewResult) {
        $("#tastySection").html(partialViewResult);
      });
  }

  function handleFavorite(route, id) {
    $.ajax({
      type: 'POST',
      dataType: 'JSON',
      url: '/Recipes/Favorite',
      data: { route: route, recipeId: id },
      success:
        function (response) {
  @* if (response === "added") {
    $(`#${id}-starFavorite-${route}`).html(`<i class="fas fa-star" onClick="handleFavorite('${route}', ${id})"></i>`);
    } else if (response === "removed") {
    $(`#${id}-starFavorite-${route}`).html(`<i class="far fa-star" onClick="handleFavorite('${route}', ${id})"></i>`);
    }*@
            location.reload();
        },
      error:
        function (response) {
          console.log("Error: ", response);
        }
    });
  }
</script>
