@using PantryPlusRecipe.ViewModels
@model LoginViewModel
<h3 class="mb-3">
  Login
  <hr />
</h3>
<div class="row">
  <div class="d-sm-block d-md-none col-sm-12">
    <p>Hey there! It looks like you aren't signed in yet. If you already have an account with PantryPlus Recipes, type your email and password, and hit Sign in. If you initially registered with a Kroger account, click the Login With Krooger button below.</p>
    <p>Don't have an account yet? Register <a href="/" class="link-dark text-decoration-underline">here</a></p>
  </div>
  <div class="col-sm-12 col-md-7">
    @using (Html.BeginForm("Login", "Account"))
    {
      <div class="form-outline">
        @Html.TextBoxFor(m => m.Email, new {@class="form-control mb-3 shadow-sm", type="email", required="required"})
        @Html.LabelFor(m => m.Email, new {@class="form-label"})
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 87.2px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>
      <div class="form-outline">
        @Html.PasswordFor(m => m.Password, new {@class="form-control mb-3 shadow-sm", required="required"})
        @Html.LabelFor(m => m.Password, new {@class="form-label"})
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 87.2px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>
      <input type="submit" value="Sign in" class="btn btn-primary mb-3 shadow-sm text-white" />
    }
    <div class="card bg-light shadow-sm mt-3 rounded border">
      <div class="card-body">
        <p class="card-text">Alternatively, sign in with an already linked Kroger account.
        </p>
        <a href="/GetAuthorizationCode"><input type="button" value="Login With Kroger" class="btn btn-primary mb-3 shadow-sm text-white" /></a>
      </div>
    </div>
  </div>
  <div class="d-none d-md-block col-md-5">
    <p>Hey there! It looks like you aren't signed in yet. If you already have an account with PantryPlus Recipes, type your email and password, and hit Sign in. If you initially registered with a Kroger account, click the Login With Krooger button below.</p>
    <p>Don't have an account yet? Register <a href="/" class="link-dark text-decoration-underline">here</a></p>
  </div>
</div>
