<button type="button" class="btn btn-primary shadow-sm" data-mdb-toggle="modal" data-mdb-target="#findKrogerStore">
  Find My Store
</button>

<div class="modal fade" id="findKrogerStore" tabindex="-1" aria-labelledby="findKrogerStoreLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title fw-light" id="findKrogerStoreLabel">Find Kroger Location</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start pb-5 pt-3">
        <h3>Fred Meyer - Stadium</h3>
        100 NW 20Th Pl
        <br />
        Portland, OR
        <br />
        97209


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Set Store</button>
        <button type="button" class="btn btn-light" data-mdb-ripple-color="dark" data-mdb-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
