@if (ViewBag.KrogerStoreName != null)
{
  <br />
  <button type="button" class="btn btn-white btn-sm shadow-sm border" data-mdb-toggle="modal" data-mdb-target="#findKrogerStore">
    <span>Change</span>
  </button>
}
else
{
  <button type="button" class="btn btn-primary shadow-sm" data-mdb-toggle="modal" data-mdb-target="#findKrogerStore">
    <span>Find My Store</span>
  </button>
}


<div class="modal fade" id="findKrogerStore" tabindex="-1" aria-labelledby="findKrogerStoreLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-light" id="findKrogerStoreLabel">Find Kroger Location</h5>
        <button type="button" class="btn-close" id="modalCloseX" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start pb-5 pt-3 px-5" id="findZipModalBody">
        <div class="row mt-3">
          <div class="col-xs-12 col-md-6 col-sm-8">
            <div class="form-outline">
              <input type="number" name="zip" id="zipInput" class="form-control mb-3 shadow-sm">
              <label for="zipInput" class="form-label">What is your ZIP code?</label>
              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px;"></div>
                <div class="form-notch-middle" style="width: 87.2px;"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>
            <div class="form-outline">
              <input type="number" min="1" max="30" name="milesInput" id="milesInput" class="form-control mb-3 shadow-sm">
              <label for="milesInput" class="form-label">How large of a search area in miles?</label>
              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px;"></div>
                <div class="form-notch-middle" style="width: 87.2px;"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>
            <select class="form-control" id="storeSelect">
              <option value="select" disabled selected>Select a store chain</option>
              <option value="FRED">Fred Meyer</option>
              <option value="FRYS">Fry's Marketplace</option>
              <option value="QFC">QFC</option>
            </select>


          </div>
          <div class="col-xs-12 col-md-6 col-sm-4 text-start mt-3 mt-sm-0">
            <input type="button" id="findStoresButton" value="Find Stores" disabled class="btn btn-primary shadow-sm text-white" />
          </div>
        </div>
        <script>
          $('#zipInput').on('keyup', function () {
            if ($(this).val().length >= 5) {
              $('#findStoresButton').prop("disabled", false);
            } else {
              $('#findStoresButton').prop("disabled", true);
            }
          });

          function generateStoreText(jsonResult) {
            const obj = JSON.parse(jsonResult);
            let outputHtml = '';
            obj.data.forEach(function (location) {
              if ((location.chain === "FRED" || location.chain === "FRYS") && (!location.name.includes('Fuel'))) {
                outputHtml += `<div class="border shadow-sm p-3 my-4 pb-0 bg-white">`;
                outputHtml += `<div class="row">`;
                outputHtml += `<div class="col-sm-8 col-xs-12">
                                  <h3>${location.name}</h3>
                                  ${location.address.addressLine1}
                                  <br />
                                  ${location.address.city}, ${location.address.state}
                                  <br />
                                  ${location.address.zipCode}
                                </div>`;
                outputHtml += `<div class="col-sm-4 col-xs-12 text-md-end d-flex d-md-block">
                                  <p>
                                    <a href="https://www.google.com/maps/search/?api=1&query=${location.geolocation.latLng}" target="_blank">
                                      <img src="../../assets/img/Google_Maps_icon.png" class="w-25 rounded shadow-sm" alt="Google Maps Icon">
                                    </a>
                                  </p>
                                  <form method="POST" action="/Account/SetStore">
                                  <input type="hidden" value="${location.locationId}" name="krogerStoreId">
                                  <input type="hidden" value="${location.name}" name="krogerStoreName">
                                  <button type="submit" class="btn btn-primary mt-0 mt-md-3">Set Store</button>
                                  </form>
                                </div>`;
                outputHtml += `</div>`;
                outputHtml += `<p class="text-center py-0 mb-2">
                                  <span class="text-decoration-underline" id="storeDetailsClick-${location.locationId}" style="cursor: pointer">Store Details <span id="storeDetailsClickShow-${location.locationId}">+</span><span id="storeDetailsClickHide-${location.locationId}" class="d-none">&nbsp-</span></span>
                              </p>`;
                outputHtml += `<div id="storeDetailsContainer-${location.locationId}" class="d-none">
                                <h4 class="fw-light">
                                  Hours
                                  <hr class="m-0 mt-2">
                                </h4>
                                <div class="row p-3">
                                  <div class="col-sm-3">
                                    <p>
                                      <strong>Monday</strong>
                                      <br />
                                      ${location.hours.monday.open} AM - ${parseInt(((location.hours.monday.close).charAt(0)) + ((location.hours.monday.close).charAt(1))) - 12}:${((location.hours.monday.close).charAt(3))}0 PM
                                    </p>
                                  </div>
                                  <div class="col-sm-3">
                                    <p>
                                      <strong>Tuesday</strong>
                                      <br />
                                      ${location.hours.tuesday.open} AM - ${parseInt(((location.hours.tuesday.close).charAt(0)) + ((location.hours.tuesday.close).charAt(1))) - 12}:${((location.hours.tuesday.close).charAt(3))}0 PM
                                    </p>
                                  </div>
                                  <div class="col-sm-3">
                                    <p>
                                      <strong>Wednesday</strong>
                                      <br />
                                      ${location.hours.wednesday.open} AM - ${parseInt(((location.hours.wednesday.close).charAt(0)) + ((location.hours.wednesday.close).charAt(1))) - 12}:${((location.hours.wednesday.close).charAt(3))}0 PM
                                    </p>
                                  </div>
                                  <div class="col-sm-3">
                                    <p>
                                      <strong>Thursday</strong>
                                      <br />
                                      ${location.hours.thursday.open} AM - ${parseInt(((location.hours.wednesday.close).charAt(0)) + ((location.hours.wednesday.close).charAt(1))) - 12}:${((location.hours.wednesday.close).charAt(3))}0 PM
                                    </p>
                                  </div>
                                  <div class="col-sm-3">
                                    <p>
                                      <strong>Friday</strong>
                                      <br />
                                      ${location.hours.friday.open} AM - ${parseInt(((location.hours.friday.close).charAt(0)) + ((location.hours.friday.close).charAt(1))) - 12}:${((location.hours.friday.close).charAt(3))}0 PM
                                    </p>
                                  </div>
                                  <div class="col-sm-3">
                                    <p>
                                      <strong>Saturday</strong>
                                      <br />
                                      ${location.hours.saturday.open} AM - ${parseInt(((location.hours.saturday.close).charAt(0)) + ((location.hours.saturday.close).charAt(1))) - 12}:${((location.hours.saturday.close).charAt(3))}0 PM
                                    </p>
                                  </div>
                                  <div class="col-sm-3">
                                    <p>
                                      <strong>Sunday</strong>
                                      <br />
                                      ${location.hours.sunday.open} AM - ${parseInt(((location.hours.sunday.close).charAt(0)) + ((location.hours.sunday.close).charAt(1))) - 12}:${((location.hours.sunday.close).charAt(3))}0 PM
                                    </p>
                                  </div>
                                </div>`;
                outputHtml += `<h4 class="fw-light">
                                  Departments
                                  <hr class="m-0 mt-2">
                                </h4>
                                <div class="row px-3">`;
                if (location.departments) {
                  for (let x = 0; x < location.departments.length; x++) {
                    outputHtml += `<div class="col-md-3 col-sm-6 col-xs-12 p-2 border-bottom">`;
                    if (location.departments[x].hours) {
                      outputHtml += `<span data-toggle="tooltip" class="text-decoration-underline" title="${location.departments[x].name} Hours: ${location.departments[x].hours.monday.open} - ${location.departments[x].hours.monday.close}">${location.departments[x].name}</span>`
                    } else {
                      outputHtml += `${location.departments[x].name}`;
                    }

                    outputHtml += `</div>`;
                  }
                }
                outputHtml += `</div>
                              </div></div>`;
                outputHtml += `<script>
                                  $('[data-toggle="tooltip"]').tooltip();
                                  $('#storeDetailsClick-${location.locationId}').click(function () {
                                    $('#storeDetailsContainer-${location.locationId}').toggleClass('d-none');
                                  });
                                <\/script>`;
              }
            });
            $('#showStoresModalBody').html(outputHtml);
            $('#showStoresModalBody').removeClass('d-none');
            $('#findZipModalBody').addClass('d-none');
          }


          $('#findStoresButton').click(function () {
            let zipCode = $('#zipInput').val();
            let miles = $('#milesInput').val();
            let store = $('#storeSelect').val();
            if (miles.length < 1) {
              miles = 10;
            }
            $.ajax({
              type: "GET",
              url: '../../../Account/ListKrogerLocations',
              data: { 'zipCode': zipCode, 'miles': miles, 'store': store },
              success: function (result) {
                generateStoreText(result);
              },
              error: function (result) {
                console.log("ERROR", result);
              }
            });
          });
        </script>

      </div>
      <div class="modal-body text-start pb-5 pt-3 bg-light d-none" id="showStoresModalBody">

      </div>
      <div class="modal-footer">
        <button type="button" id="closeStoreModal" class="btn btn-white" data-mdb-ripple-color="dark" data-mdb-dismiss="modal">Cancel</button>
        <script>
          $('#closeStoreModal').click(function () {
            $('#findZipModalBody').removeClass('d-none');
            $('#showStoresModalBody').addClass('d-none');
          });

          $('#modalCloseX').click(function () {
            $('#findZipModalBody').removeClass('d-none');
            $('#showStoresModalBody').addClass('d-none');
          });
        </script>
      </div>
    </div>
  </div>
