<div class="modal fade" id="ingredientModal-@ViewData["id"]" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        @* <h5 class="modal-title" id="exampleModalLabel">Add @ViewData["name"] to your cart</h5> *@
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="fs-5">It doesn't look like you currently have any <strong>@ViewData["name"]</strong> in your pantry. You've got a couple options below.</span>
        <p class="mt-4 p-4 bg-light bg-gradient border rounded shadow fw-normal">
          I already have it in my pantry!
          <br />
          <button type="button" class="btn btn-primary btn-sm mt-3">Add to Pantry</button>
        </p>
        <p class="mt-4 p-4 bg-light bg-gradient border rounded shadow fw-normal">
          Add it to my PantryPlus shopping list without Kroger item info!
          <br />
          <button type="button" class="btn btn-primary btn-sm mt-3">Add to List</button>
        </p>
        <p class="mt-4 p-4 bg-light bg-gradient border rounded shadow fw-normal">
          Add it to my Kroger shopping cart or Pantry shopping list! <em>(recommended)</em>
          <br />
          <button class="btn btn-primary btn-sm mt-3" data-mdb-target="#ingredientSecondModal-@ViewData["id"]" data-mdb-toggle="modal" data-mdb-dismiss="modal">
            Find with Kroger
          </button>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white btn-sm shadow-sm border" data-mdb-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Second modal dialog -->
<div class="modal fade" id="ingredientSecondModal-@ViewData["id"]" aria-hidden="true" aria-labelledby="exampleModalToggleLabel22" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel22">Add @ViewData["name"] to your cart</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-2">
        <div class="text-center">
          <h4>Fred Meyer - Stadium</h4>
          <div>
            <div class="row">
              @for (int x = 0; x < 10; x++)
              {
                <div class="col-sm-6">
                  <div class="border rounded p-3 pt-1 m-3 shadow-sm">
                    <div class="row">
                      <div class="col-sm-3">
                        <img src="https://www.kroger.com/product/images/medium/front/0001111072977" alt="Nutmeg Photo" style="height: 7em !important;">
                      </div>
                      <div class="col-sm-9">
                        <div class="text-end">
                          <i class="fas fa-map-marker-alt mb-2"></i>
                          Aisle 13
                          <div>
                            Private Selection™ Ground Nutmeg
                            <br />
                            1.72OZ
                          </div>
                        </div>
                      </div>
                    </div>
                    <span class="text-primary fs-5 me-5">$5.49</span><button type="button" class="btn btn-primary btn-sm mt-3">Add to Cart</button>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-mdb-target="#ingredientModal-@ViewData["id"]" data-mdb-toggle="modal">
          Back to first
        </button>
      </div>
    </div>
  </div>
</div>
